### Stock Market Prediction And Forecasting Using Stacked LSTM

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('southafrica.csv')

In [3]:
df.head(10)

,Time Interval,Close,Net Chg,Open,High,Low,Tick Count,Volume
0,Summary,54615.33,3216.94,51398.39,55563.14,33407.74,20367336.0,N.A.
1,31DEC2019_00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01:30 - 02:00,51398.39,0.00,51398.39,51398.39,51398.39,1.0,N.A.
3,02:00 - 02:30,51143.85,-254.54,51388.25,51401.09,51107.47,1624.0,N.A.
4,02:30 - 03:00,51078.28,-65.57,51144.13,51229.55,51073.85,1732.0,N.A.
5,03:00 - 03:30,50999.77,-78.51,51077.22,51108.80,50894.42,3042.0,N.A.
6,03:30 - 04:00,51024.07,24.30,50999.79,51067.39,50993.03,2011.0,N.A.
7,04:00 - 04:30,50979.65,-44.42,51023.94,51023.94,50939.28,2473.0,N.A.
8,04:30 - 05:00,50828.80,-150.85,50979.51,50980.64,50816.19,2113.0,N.A.
9,05:00 - 05:30,50816.05,-12.75,50816.05,50816.05,50816.05,1.0,N.A.

In [4]:
df=df.dropna()

In [5]:
df.head(10)

,Time Interval,Close,Net Chg,Open,High,Low,Tick Count,Volume
0,Summary,54615.33,3216.94,51398.39,55563.14,33407.74,20367336.0,N.A.
2,01:30 - 02:00,51398.39,0.00,51398.39,51398.39,51398.39,1.0,N.A.
3,02:00 - 02:30,51143.85,-254.54,51388.25,51401.09,51107.47,1624.0,N.A.
4,02:30 - 03:00,51078.28,-65.57,51144.13,51229.55,51073.85,1732.0,N.A.
5,03:00 - 03:30,50999.77,-78.51,51077.22,51108.80,50894.42,3042.0,N.A.
6,03:30 - 04:00,51024.07,24.30,50999.79,51067.39,50993.03,2011.0,N.A.
7,04:00 - 04:30,50979.65,-44.42,51023.94,51023.94,50939.28,2473.0,N.A.
8,04:30 - 05:00,50828.80,-150.85,50979.51,50980.64,50816.19,2113.0,N.A.
9,05:00 - 05:30,50816.05,-12.75,50816.05,50816.05,50816.05,1.0,N.A.
11,01:30 - 02:00,50816.05,0.00,50816.05,50816.05,50816.05,1.0,N.A.

In [6]:
# df.index=[i for i in range(len(df))] or df.reset_index(inplace=True) to make indices in 1,2,3 order
df.head(10)
# print(df.loc[0])

,Time Interval,Close,Net Chg,Open,High,Low,Tick Count,Volume
0,Summary,54615.33,3216.94,51398.39,55563.14,33407.74,20367336.0,N.A.
2,01:30 - 02:00,51398.39,0.00,51398.39,51398.39,51398.39,1.0,N.A.
3,02:00 - 02:30,51143.85,-254.54,51388.25,51401.09,51107.47,1624.0,N.A.
4,02:30 - 03:00,51078.28,-65.57,51144.13,51229.55,51073.85,1732.0,N.A.
5,03:00 - 03:30,50999.77,-78.51,51077.22,51108.80,50894.42,3042.0,N.A.
6,03:30 - 04:00,51024.07,24.30,50999.79,51067.39,50993.03,2011.0,N.A.
7,04:00 - 04:30,50979.65,-44.42,51023.94,51023.94,50939.28,2473.0,N.A.
8,04:30 - 05:00,50828.80,-150.85,50979.51,50980.64,50816.19,2113.0,N.A.
9,05:00 - 05:30,50816.05,-12.75,50816.05,50816.05,50816.05,1.0,N.A.
11,01:30 - 02:00,50816.05,0.00,50816.05,50816.05,50816.05,1.0,N.A.

In [7]:
df1=df.reset_index()['Close']

In [ ]:
df1

In [ ]:
import matplotlib.pyplot as plt
plt.plot(df1)

In [ ]:
### LSTM are sensitive to the scale of the data. so we apply MinMax scaler

In [ ]:
import numpy as np

In [ ]:
df1

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler(feature_range=(0,1))
df1=scaler.fit_transform(np.array(df1).reshape(-1,1))

In [ ]:
print(df1)

In [ ]:
##splitting dataset into train and test split
training_size=int(len(df1)*0.65)
test_size=len(df1)-training_size
train_data,test_data=df1[0:training_size,:],df1[training_size:len(df1),:1]

In [ ]:
training_size,test_size

In [ ]:
train_data

In [ ]:
test_data

In [ ]:
import numpy
# convert an array of values into a dataset matrix
def create_dataset(dataset, time_step=1):
	dataX, dataY = [], []
	for i in range(len(dataset)-time_step-1):
		a = dataset[i:(i+time_step), 0]   ###i=0, 0,1,2,3-----99   100 
		dataX.append(a)
		dataY.append(dataset[i + time_step, 0])
	return numpy.array(dataX), numpy.array(dataY)

In [ ]:
# reshape into X=t,t+1,t+2,t+3 and Y=t+4
time_step = 100
X_train, y_train = create_dataset(train_data, time_step)
X_test, ytest = create_dataset(test_data, time_step)

In [ ]:
print(X_train.shape), print(y_train.shape)

In [ ]:
print(X_test.shape), print(ytest.shape)

In [ ]:
# reshape input to be [samples, time steps, features] which is required for LSTM
X_train =X_train.reshape(X_train.shape[0],X_train.shape[1] , 1)
X_test = X_test.reshape(X_test.shape[0],X_test.shape[1] , 1)

In [ ]:
print(X_train.shape)

In [ ]:
# pip install tensorflow

In [ ]:
### Create the Stacked LSTM model
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LSTM

In [ ]:
model=Sequential()
model.add(LSTM(50,return_sequences=True,input_shape=(100,1)))
model.add(LSTM(50,return_sequences=True))
model.add(LSTM(50))
model.add(Dense(1))
model.compile(loss='mean_squared_error',optimizer='adam')

In [ ]:
model.summary()

In [ ]:
model.fit(X_train,y_train,validation_data=(X_test,ytest),epochs=100,batch_size=64,verbose=1)

In [ ]:
import tensorflow as tf

In [ ]:
tf.__version__

In [ ]:
### Lets Do the prediction and check performance metrics
train_predict=model.predict(X_train)
test_predict=model.predict(X_test)

In [ ]:
train_predict.shape

In [ ]:
##Transformback to original form
train_predict=scaler.inverse_transform(train_predict)
test_predict=scaler.inverse_transform(test_predict)

In [ ]:
### Calculate RMSE performance metrics
import math
from sklearn.metrics import mean_squared_error
math.sqrt(mean_squared_error(y_train,train_predict))

In [ ]:
### Test Data RMSE
math.sqrt(mean_squared_error(ytest,test_predict))

In [ ]:
### Plotting 
# shift train predictions for plotting
look_back=100
trainPredictPlot = numpy.empty_like(df1)
trainPredictPlot[:, :] = np.nan
trainPredictPlot[look_back:len(train_predict)+look_back, :] = train_predict
# shift test predictions for plotting
testPredictPlot = numpy.empty_like(df1)
testPredictPlot[:, :] = numpy.nan
testPredictPlot[len(train_predict)+(look_back*2)+1:len(df1)-1, :] = test_predict
# plot baseline and predictions
plt.plot(scaler.inverse_transform(df1))
plt.plot(trainPredictPlot)
plt.plot(testPredictPlot)
plt.legend(['data set','train','test'])
plt.show()

In [ ]:
len(test_data)

In [ ]:
x_input=test_data[len(test_data)-100:].reshape(1,-1)
x_input.shape

In [ ]:
temp_input=list(x_input)
temp_input=temp_input[0].tolist()

In [ ]:
temp_input

In [ ]:
# demonstrate prediction for next 30 days
from numpy import array

lst_output=[]
n_steps=100
i=0
while(i<30):
    
    if(len(temp_input)>100):
        #print(temp_input)
        x_input=np.array(temp_input[1:])
        print("{} day input {}".format(i,x_input))
        x_input=x_input.reshape(1,-1)
        x_input = x_input.reshape((1, n_steps, 1))
        #print(x_input)
        yhat = model.predict(x_input, verbose=0)
        print("{} day output {}".format(i,yhat))
        temp_input.extend(yhat[0].tolist())
        temp_input=temp_input[1:]
        #print(temp_input)
        lst_output.extend(yhat.tolist())
        i=i+1
    else:
        x_input = x_input.reshape((1, n_steps,1))
        yhat = model.predict(x_input, verbose=0)
        print(yhat[0])
        temp_input.extend(yhat[0].tolist())
        print(len(temp_input))
        lst_output.extend(yhat.tolist())
        i=i+1
    

print(lst_output)

In [ ]:
day_new=np.arange(1,101)
day_pred=np.arange(101,131)

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
len(df1)

In [ ]:
plt.plot(day_new,scaler.inverse_transform(df1[len(df1)-100:]))
plt.plot(day_pred,scaler.inverse_transform(lst_output))

In [ ]:
df3=df1.tolist()
df3.extend(lst_output)
plt.plot(df3[1200:])

In [ ]:
df3=scaler.inverse_transform(df3).tolist()

In [ ]:
plt.plot(df3)